html {
  height: 100vh;
  overflow: hidden;
}

.app {
  text-align: center;
  display: flex;
  height: 100vh !important;
}

.app > .navbar {
  flex: 0.1;
}

.app > .right > .cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
}

.app > .right {
  display: flex;
  flex-direction: column;
  flex: 0.9;
  overflow-y: scroll;
}

.app > .right > .cards::-webkit-scrollbar {
  display: none;
}

.app > .right > h2 {
  color: grey;
  text-align: left;
  padding-left: 2vw;
  text-transform: capitalize;
}
